.idea
.DS_Store

.env
.env.local
.env.local.php
.env.*.local
.phpunit.result.cache
.phpunit.cache
auth.json

/vendor
/node_modules
/var
/public/bundles
/public/uploads
/public/admin
/config/secrets/prod/prod.decrypt.private.php

*.log
*.pid
*/dist/*
